<dialog
    class="delete-pt-dialog dialog-container"
    data-pt-id="<%= powertrain.id %>"
>
    <section class="dialog-content">
        <header>
            <h1 class="text-2xl font-bold">Delete powertrain <span><%= powertrain.name %></span></h1>
        </header>
        <%- include('../components/hr.ejs') %>
        <div>
            <form
                action="/powertrains/delete/<%= powertrain.id %>"
                method="post"
            >
                <div class="grid gap-4">
                    <input
                        type="hidden"
                        name="modelId"
                        value="<%= model.id %>"
                    />
                    <%- include('../components/input.ejs', {
                        input: {
                            id:"delete-pt-confirm",
                            type:"text",
                            placeholder: "Delete",
                            class: "delete",
                            required:true
                        }, 
                        label: "Enter \"Delete\" to confirm deletion"})
                    %>
                </div>
                <%- include('../components/hr.ejs') %>
                <div class="mb-4">
                    <%- include('../components/input.ejs', {
                        input: {
                            id:"delete-pt-password",
                            type:"password",
                            name:"password",
                            required:true
                        }, 
                        label: "Password"})
                    %>
                </div>
                <div class="flex justify-end gap-4">
                    <button class="dialog-btn submit btn-primary" type="submit">
                        Delete
                    </button>
                    <button class="dialog-btn cancel close btn-secondary" type="button">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </section>
</dialog>
