<!DOCTYPE html>
<html>
    <%- include('partials/head.ejs') %>
    <body>
        <header>
            <a href="/">Home</a>
            <div>
                <p>
                    <img src="<%= constructor.logoPath %>" alt="<%= constructor.name %> logo" width="60" height="60">
                    <a href="/constructors/<%= constructor.id %>"><%= constructor.name %></a>
                </p>
                <h1><%= model.name %></h1>
                <p><%= model.year %></p>
            </div>
        </header>
        <main>
            <div>
                <h2>Configurations in inventory</h2>
                <ul>
                    <% cars.forEach((car) => { %>
                        <li>
                            <p><%= car.name %></p>
                            <p>Price : <%= car.price %></p>
                            <p>Stock : <%= car.stock %></p>
                            <button type="button">Edit</button>
                        </li>
                    <% }) %>
                </ul>
                <button type="button">Add configuration</button>
            </div>
            <div class="trims">
                <h2>Trims</h2>
                <ul>
                    <% trims.forEach((trim) => { %>
                      <li class="trim-item">
                        <div class="trim" data-id="<%= trim.id %>" data-model-id="<%= model.id %>">
                            <p><%= trim.name || "Base" %></p>
                            <button class="edit" type="button">Edit</button>
                            <button class="delete" type="button">Delete</button>
                        </div>
                        <%- include('partials/trims/deleteTrimModal.ejs', {trim:trim, model:model}) %>
                        <%- include('partials/trims/editTrimModal.ejs', {trim:trim, model:model}) %>
                      </li>
                    <% }) %>
                </ul>
                <button id="add-trim-btn" type="button">Add trim</button>
                <%- include('partials/trims/addTrimModal.ejs', {model: model}) %>
            </div>
            <h2>Powertrains</h2>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Engine Code</th>
                            <th scope="col">Type</th>
                            <th scope="col">Displacement</th>
                            <th scope="col">Power</th>
                            <th scope="col">Torque</th>
                            <th scope="col">Configuration</th>
                            <th scope="col">Transmission</th>
                            <th scope="col">Drivetrain</th>
                            <th scope="col">Compatible trims</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% powertrains.forEach((pt) => { %>
                            <tr class="powertrain-item" data-pt-id="<%= pt.id %>">
                                <th scope="row"><%= pt.name %></th>
                                <td><%= pt.engineCode %></td>
                                <td><%= pt.type %></td>
                                <td><%= pt.displacement %> cc</td>
                                <td><%= pt.power %> hp</td>
                                <td><%= pt.torque %> N⋅m</td>
                                <td><%= pt.engineLayout %></td>
                                <td><%= pt.transmission %></td>
                                <td><%= pt.drivetrain %></td>
                                <td>
                                    <% pt.compatibleTrims.forEach((t, index) => {%>
                                        <% const trim = trims.filter((item) => item.id === t)[0] %>
                                        <%= `${(index > 0 ? ", " : "")}${trim.name || "Base"}` %>
                                    <% }) %>
                                </td>
                                <td><button class="edit" type="button">Edit</button></td>
                                <td><button class="delete" type="button">Delete</button></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
                <button id="add-powertrain-btn" type="button">Add powertrain</button>
                <div class="dialogs">
                    <%- include('partials/powertrains/addPowertrainModal.ejs', {model: model, trims: trims}) %>
                    <% powertrains.forEach((pt) => { %>
                        <%- include('partials/powertrains/editPowertrainModal.ejs', {model:model, powertrain:pt, trims:trims}) %>
                        <%- include('partials/powertrains/deletePowertrainModal.ejs', {model:model, powertrain:pt, trims:trims}) %>
                    <% }) %>
                </div>
            </div>
        </main>
    </body>
    <script type="module" src="/javascripts/car.js" defer>
    </script>
</html>
