<!DOCTYPE html>
<html>
    <%- include('partials/head.ejs') %>
    <body>
        <header>
            <a href="/">Home</a>
            <div>
                <span>Constructor</span>
                <h1><%= constructor.name %></h1>
            </div>
        </header>
        <main>
            <div>
                <h2>Country</h2>
                <p><%= constructor.country %></p>
            </div>
            <img src="<%= constructor.logoPath %>" alt="<%= constructor.name %> logo">
            <button id="edit-constructor-btn" type="button">Edit Constructor</button>
            <h3>Car models</h3>
            <ul>
              <% constructor.models.forEach((model) => { %>
                <li>
                  <a href="/cars/<%= model.id %>"><%= model.name %></a>
                </li>
              <% }) %>
            </ul>
            <button id="add-model-btn" type="button">Add car model</button>
        </main>
        <%- include('partials/constructors/editConstructorModal.ejs', {ct:constructor}) %>
    </body>
    <script type="module" src="/javascripts/constructor.js" defer></script>
</html>
