<!DOCTYPE html>
<html>
    <%- include('partials/head.ejs') %>
    <body>
        <header>
            <a href="/">Home</a>
            <h1>Constructors</h1>
        </header>
        <main>
            <button id="add-new-constructor" type="button">Add new constructor</button>
            <div>
                <% for (const key in constructorMap) { %>
                    <a href="/constructors/#id_<%= key %>"><%= key %></a>
                <% } %>
            </div>
            <div>
                <% for (const key in constructorMap) { %>
                    <div>
                        <p><%= key %></p>
                        <ul id="id_<%= key %>">
                            <% constructorMap[key].forEach((constructor) => { %>
                                <li>
                                    <a href="/constructors/<%= constructor.id %>"><%= constructor.name %></a>
                                </li>
                            <% }) %>
                        </ul>
                    </div>
                <% } %>
            </div>
        </main>
        <%- include('partials/constructors/addConstructorModal.ejs') %>
        <script type="module" src="/javascripts/constructors.js" defer></script>
    </body>
</html>
