<!DOCTYPE html>
<html>
    <%- include('partials/head.ejs') %>
    <body class="text-neutral-950">
        <div class="flex flex-col h-svh bg-white">
        <%- include('./partials/components/header.ejs') %>
        <main>
            <div class="px-4">
                <%- include('./partials/components/hr.ejs') %>
                <h2 class="text-2xl font-bold mb-4">Constructors</h2>
                <button id="add-new-constructor" type="button" class="btn-primary">Add new constructor</button>
                <div class="flex gap-2 mt-4 flex-wrap w-full">
                    <% for (const key in constructorMap) { %>
                        <a href="/constructors/#id_<%= key %>" class="block text-center w-12 h-12 font-medium text-2xl rounded-full border border-neutral-950/10 hover:bg-neutral-950/10  p-2"><%= key %></a>
                    <% } %>
                </div>
                <%- include('./partials/components/hr.ejs') %>
                <div>
                    <% for (const key in constructorMap) { %>
                        <div>
                            <p class="font-medium text-2xl"><%= key %></p>
                            <ul id="id_<%= key %>" class="my-2">
                                <% constructorMap[key].forEach((constructor) => { %>
                                    <li
                                    class="hover:bg-neutral-950/5"
                                    >
                                        <a href="/constructors/<%= constructor.id %>"
                                            class="flex gap-4 items-center w-full h-full p-2"
                                        >
                                            <img 
                                            src="<%= constructor.logoPath %>" 
                                            alt="<%= constructor.name %> logo" 
                                            class="w-8 h-8"
                                          >
                                          <span><%= constructor.name %></span></a>
                                    </li>
                                <% }) %>
                            </ul>
                        </div>
                    <% } %>
                </div>
            </div>
        </main>
        <%- include('./partials/components/footer.ejs') %>
        <%- include('partials/constructors/addConstructorModal.ejs') %>
        </div>
        <script type="module" src="/javascripts/constructors.js" defer></script>
    </body>
</html>
