<!DOCTYPE html>
<html>
    <%- include('partials/head.ejs') %>
    <body class="text-neutral-950">
      <div class="flex flex-col h-svh bg-white">
        <%- include('./partials/components/header.ejs') %>
        <main>
            <h2>Car models</h2>
            <ul>
              <% locals.models.forEach((model) => { %>
                <li>
                  <a href="/cars/<%= model.id %>"><%= model.constructor.name %> - <%= model.name %></a>
                </li>
              <% }) %>
            </ul>
            <h3>Constructors</h3>
            <a href="/constructors">View All >></a>
        </main>
      </div>
      <%- include('./partials/components/menu.ejs') %>
    </body>
</html>
