<dialog
    class="delete-trim-dialog dialog-container"
    data-trim-id="<%= trim.id %>"
>
    <section class="dialog-content">
        <header>
            <h1 class="text-2xl font-bold">Delete trim <%= trim.name %></h1>
        </header>
        <%- include('../components/hr.ejs') %>
        <form action="/trims/delete/<%= trim.id %>" method="post">
            <input type="hidden" name="modelId" value="<%= model.id %>" />
            <div class="grid gap-4">
                <%- include('../components/input.ejs', {
                    input: {
                        id:"delete-trim-confirm",
                        type:"text",
                        placeholder: "Delete",
                        class: "delete",
                        required:true
                    },
                    label: "Enter \"Delete\" to confirm deletion"})
                %>
            </div>
            <%- include('../components/hr.ejs') %>
            <div class="mb-4">
                <%- include('../components/input.ejs', {
                    input: {
                        id:"delete-ct-password",
                        type:"password",
                        name:"password",
                        required:true
                    }, 
                    label: "Password"})
                %>
            </div>
            <div class="flex gap-4 justify-end">
                <button class="dialog-btn submit btn-primary" type="submit">Delete</button>
                <button class="dialog-btn cancel close btn-secondary" type="button">
                    Cancel
                </button>
            </div>
        </form>
    </section>
</dialog>
