<dialog class="delete-config-dialog dialog-container">
    <section class="dialog-content">
        <header>
            <h1 class="text-2xl font-bold">
                Delete configuration <span><%= config.name %></span>
            </h1>
        </header>
        <%- include('../components/hr.ejs') %>
        <form action="/cars/<%= config.modelId %>/config/delete" method="post">
            <div>
                <input
                    type="hidden"
                    name="trimId"
                    value="<%= config.trimId %>"
                />
                <input
                    type="hidden"
                    name="powertrainId"
                    value="<%= config.powertrainId %>"
                />
                <div class="grid gap-4">
                    <%- include('../components/input.ejs', {
                        input: {
                            id:`delete-config-${config.trimId}-${config.powertrainId}-confirm`,
                            type:"text",
                            placeholder: "Delete",
                            class: "delete",
                            required:true
                        }, 
                        label: "Enter \"Delete\" to confirm deletion"})
                    %>
                </div>
            </div>
            <%- include('../components/hr.ejs') %>
            <div class="mb-4">
                <%- include('../components/input.ejs', {
                    input: {
                        id:`delete-config-${config.trimId}-${config.powertrainId}-password`,
                        type:"password",
                        name:"password",
                        required:true
                    }, 
                    label: "Password"})
                %>
            </div>
            <div class="flex justify-end gap-4">
                <button class="dialog-btn submit btn-primary" type="submit">
                    Delete
                </button>
                <button class="dialog-btn cancel close btn-secondary" type="button">
                    Cancel
                </button>
            </div>
        </form>
    </section>
</dialog>
