<dialog class="add-constructor-dialog dialog-container">
    <section class="dialog-content">
        <header>
            <h1 class="text-2xl font-bold">Add constructor</h1>
        </header>
        <%- include('../components/hr.ejs') %>
        <form
            action="/constructors/new"
            method="post"
            enctype="multipart/form-data"
        >
            <div class="grid gap-4">
                <%- include('../components/input.ejs', {
                    input: {
                        id:"add-ct-name",
                        type:"text",
                        name:"name",
                        required:true
                    }, 
                    label: "Name"})
                %>
                <%- include('../components/input.ejs', {
                    input: {
                        id:"add-ct-country",
                        type:"text",
                        name:"country",
                        required:true
                    }, 
                    label: "Country"})
                %>
                <div class="logo-input-container">
                    <div>
                        <label for="add-ct-logo" class="mb-2 block text-sm font-medium text-neutral-950">
                            Logo
                        </label>
                        <input
                            type="file"
                            id="add-ct-logo"
                            name="logo"
                            accept="image/png, image/jpeg, image/svg+xml"
                            class="logo-input block w-full cursor-pointer rounded-lg border border-neutral-950/10 bg-white text-sm text-neutral-950 file:bg-neutral-950/90 focus:outline-none"
                            required
                        />
                    </div>
                    <p class="text-neutral-500">SVG, PNG or JPG (MAX. 2MB)</p>
                    <div>
                        <img
                            alt="Constructor logo preview"
                            title="Constructor logo preview"
                            class="logo-preview hidden"
                            width="60"
                            height="60"
                        />
                        <p class="logo-error"></p>
                    </div>
                </div>
            </div>
            <%- include('../components/hr.ejs') %>
            <div class="mb-4">
                <%- include('../components/input.ejs', {
                    input: {
                        id:"add-ct-password",
                        type:"password",
                        name:"password",
                        required:true
                    }, 
                    label: "Password"})
                %>
            </div>
            <div class="flex gap-4 justify-end">
                <button class="dialog-btn submit btn-primary" type="submit">
                    Add
                </button>
                <button class="dialog-btn cancel close btn-secondary" type="button">
                    Cancel
                </button>
            </div>
        </form>
    </section>
</dialog>
