<dialog class="add-constructor-dialog dialog-container">
    <section class="dialog-content">
        <header>
            <h1 class="text-2xl font-bold">Add constructor</h1>
        </header>
        <%- include('../components/hr.ejs') %>
        <form
            action="/constructors/new"
            method="post"
            enctype="multipart/form-data"
        >
            <div class="grid gap-4">
                <%- include('../components/input.ejs', {
                    input: {
                        id:"add-ct-name",
                        type:"text",
                        name:"name",
                        required:true
                    }, 
                    label: "Name"})
                %>
                <%- include('../components/input.ejs', {
                    input: {
                        id:"add-ct-country",
                        type:"text",
                        name:"country",
                        required:true
                    }, 
                    label: "Country"})
                %>
                <%- include('./logoInput.ejs', {id : "add-ct-logo"}) %>
            </div>
            <%- include('../components/hr.ejs') %>
            <div class="mb-4">
                <%- include('../components/input.ejs', {
                    input: {
                        id:"add-ct-password",
                        type:"password",
                        name:"password",
                        required:true
                    }, 
                    label: "Password"})
                %>
            </div>
            <div class="flex gap-4 justify-end">
                <button class="dialog-btn submit btn-primary" type="submit">
                    Add
                </button>
                <button class="dialog-btn cancel close btn-secondary" type="button">
                    Cancel
                </button>
            </div>
        </form>
    </section>
</dialog>
