<div>
    <label
        for="<%= input.id %>"
        class="mb-2 block text-sm font-medium text-neutral-950"
    >
        <%= label %>
    </label>
    <input
        type="<%= input.type || "text" %>"
        id="<%= input.id %>"
        name="<%= input.name %>"
        class="block w-full rounded-lg border border-neutral-950/10 bg-white p-2.5 text-sm text-neutral-950 focus:border-blue-500 focus:ring-blue-500 <%= input.class || "" %>"
        <% if (input.value) { %>
            value="<%= input.value %>"
        <% } %>
        <% if (input.placeholder) { %>
            placeholder="<%= input.placeholder %>"         
        <% } %>
        <% if (input.required) { %>
            required
        <% } %>
    />
</div>
